PORT=3000
NODE_ENV=production
JWT_SECRET=super_secret_jwt_key_citasrd_app_2026
ADMIN_EMAIL=admin@citasrd.app
ADMIN_PASS=admin123
BASE_URL=https://www.citasrd.app
DATABASE_URL="file:./dev.db"

# MinIO Storage Settings
MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_USE_SSL=false
MINIO_ACCESS_KEY=escorts-data
MINIO_SECRET_KEY=minioadminpassword
MINIO_BUCKET_NAME=escort-media
MINIO_PUBLIC_URL=https://console-sigae-ipds-minio.p1dgbf.easypanel.host/

